/*******tic-tac-toe******/
#header, #footer, #content {
    position: fixed;
    left: 0;
    right: 0;
    overflow-y:scroll;
}

#header {
    top: 0;
    height: 20%;

}

#header .row {
    padding-top: -10px;
    display: flex;
    justify-content: center;
}

#footer {
    bottom: 0;
    height: 4%;
}
#content {
    position: fixed;
    top: 20%;
    bottom: 5%;
    overflow: auto;
    border-top: .1px solid black;
}

#game {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 0;
}

#game li {
    width: 100%;
    margin: 0;
    padding: 0;
    color:#ccc;
}

#game li.disable, #reset{
    color:#fff;
}

.title {
    font-size: calc(12px + 5vw);
}

#reset {
    width: 100%;
    height: 100%;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    text-transform:uppercase;
    width:100%;
    height: 500px;
}

#tic-tac-toe .disable {
    text-transform: uppercase;
    font-size: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#tic-tac-toe {
    margin:0 auto;
}
#tic-tac-toe li::-moz-selection, #tic-tac-toe li::-webkit-selection {
    background:none;
    color:#000;
}

.input-append .win-times {
    background:#fff;
}

/*******tic-tac-toe END******/
